.order-cancelled {
  padding: 60px;
  text-align: center;
}

.cancelled-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.cancelled-card img {
  width: 120px;
}

.back-btn {
  background: #ffd333;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
