/* ===== TOP UTILITY BAR ===== */
.top-utility-bar {
  display: flex;
  justify-content: space-between;
  padding: 6px 40px;
  font-size: 13px;
  background: #f5f5f5;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.utility-left span,
.utility-right span {
  margin-right: 18px;
  cursor: pointer;
}

.utility-left span:hover,
.utility-right span:hover {
  text-decoration: underline;
}
